<%-include('./layout/header')%>
<%-include('./layout/usernavbar')%>
<br><br>

<div class="container">
    <div class="col-md-3">
        <p  class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal">
          <i class="fas fa-plus"></i> Add Post
        </p>
      </div>
</div>
<br>
<div class="container">

<% blogs.forEach(blog=>{ %>

    

    <div class="shadow p-2 border mt-4" >   
        <h1> <strong><%=blog.title%></strong></h1>
        <!-- <h3>TAGS: </h3> -->
        <div class="d-flex">
        <a href="/user/blog/<%=blog._id%>" class="btn btn-link">FULL DETAIL</a>

        <%if(session._id.toString()==blog.createdBy._id){%>

        
        <form action="/user/blogdelete" method="POST">
          <input type="hidden" value="<%=blog._id%>" name="blogid">
          <button class="btn btn-link">delete</button>
        </form>
        <%}%>

      </div>
        <p class="float-right" style="position: relative; top:-30px"> 

            Created By: <%=blog.createdBy.name%>
           
            <a href="/<%=blog.createdBy.image%>" data-toggle="lightbox">
            <img src="/<%=blog.createdBy.image%>"  style="width: 30px ; height: 30px; border-radius: 50%;">
            


        </a>
        </p>
    </div>
<%})%>
</div>












<div class="modal fade" id="addPostModal" style="color: black;">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Add Post</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        

        <div class="modal-body">
            <form action="/user/post" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title">
                  </div>
                  <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="tag">
                      <option value="Info">Information</option>
                      <option value="study">Study</option>
                      <option value="fun">Fun</option>
                      <option value="Other">Others</option>
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="body">Body</label>
                    <textarea name="editor1" class="form-control"></textarea>
                  </div>
                  <button class="btn btn-primary" >POST</button>
                </form>
                
           
        
        </div>
       
        
      </div>
    </div>
  </div>




<%-include('./layout/footer')%>
<script>
    CKEDITOR.replace('editor1');

    </script>

<style>
   
</style>