<%-include('./layout/header')%>
<%-include('./layout/navbar')%>

<div style="position: absolute; top: 0; width: 100%; z-index: -10;">
    <img src="/images/Vector 1.svg">
</div>

<div style="position: absolute; top: 0; width: 100%; z-index: -10;">
    <img src="/images/halfcircle.svg">
</div>
<br><br>
<div class="row justify-content-center">

    <div class="col-md-4 col-8">
        <form method="POST" action="/user/newpassword">
            <input type="hidden" value="<%=csrfToken%>" name="_csrf">

        <label for="email">Enter New Password</label>
        <input type="text" id="email" placeholder="Enter Your Email" class="form-control" name="password">
            <br>
        <label for="000">Confirm NewPassword</label>
        <input type="text" id="000" placeholder="Enter Your Email" class="form-control" name="confirmpassword">
        
        <input type="hidden" name="id" value="<%=userid%>">
        <br>
        <button class="btn btn-danger">Click</button>
    </form>
    </div>

</div>

<%-include('./layout/footer')%>

